@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
    font-family: 'Secular One', sans-serif;

}

body{
    background-color: #BBD3DC;

    display: flex;
    padding: 0;
    margin: 0;
    height: 97vh;
    width: 100%;

}

button{
    background-color: aliceblue;
    border-radius: 20px;
}
input{
    border: 1px solid ;
    border-radius: 6px;
}

button:hover{
    background-color: greenyellow;
}

.container{
    padding: 10px;
    background-color: #BBD3DC;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.header{
    padding: 10px;
    background-color: #D6193B;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/ 3;
    display: flex;    
    flex-direction: column;
    align-items:center ;
    justify-content: start;
    gap: 160px;
}

.header h1{
    color: #A9DFBF;
    letter-spacing: 5px;
    font-family: 'Rubik Bubbles', cursive;

}

.header > button{
    border: none;
    border: 1px solid snow;
    background-color: #1BC94D;
    font-size: 25px;
width: fit-content;
height: 10%;
}
.header > button:hover{
    background-color: #D0D3D4;
}

.project-container{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    position: relative;
 display: flex;
 flex-wrap: nowrap;
 gap: 20px;
 align-items: center;
 justify-items: center;
 justify-content: center;
}

.project-container > div{
    background-color:#909497;
    width: 10rem;
    height: fit-content;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}


.project-container > div h3{
    text-align: center;
}

.title{
    font-size: 60px;
    text-align: center;
}

.test-newtask{
    background-color: #5BB22F;
}

.test-edit{
    background-color: yellow;
}

.test-view{
    background-color: #2FA2B2;
}

.new-form{
    border: 1px solid black;
    z-index: 9;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    gap: 10px;
    background-color: #A9DFBF;
}

.new-form input:invalid{
    border: 1px solid red;
}

.new-form input:valid{
    border: 1px solid greenyellow;
}

.delproj:hover{
    background-color: white;
}

.new-form > h2{
    font-size: 35px;
}

.new-form label{
    font-size: 20px;
}

.form-btn{
display: flex;
gap: 20px;
}

.fields{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.tasks-menu{    
    border-radius: 10px; 
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 110px;
    left: 40px;
    background-color: lightblue;
    padding: 20px;
}

.addtasks{
    background-color: #5BB22F;
}


.edit-tasks{
    background-color: yellow;
}

.edit-tasks:hover{
    background-color: white;
}


.addtasks:hover{
    background-color: white;
}

.viewtasks{
    background-color:#2FA2B2 ;
}

.viewtasks:hover{
    background-color:white ;
}

.delproj{
    background-color:red ;
}

.tasks-menu > button{
    width: fit-content;
}

.fields{
    width: 100%;
    height: 100%;
}

.fields input{
    align-self: flex-end;
}

.card{
  background:transparent url('./—Pngtree—polaroid\ photo\ frame\ transparent_6275853.png');
  background-position: center;
  background-size: 210% 185%;
    background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;
}

.newtasks{
    background-color:cornflowerblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
}

.newtasks button{
    width: 80%;
}

.new-task{      
  position: absolute;
  top: 0;
  left: 0;
    z-index: 10;
    position: absolute;
    background-color: aliceblue;
    display: none;
}

.new-task > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;  
}